$primary-color: #ffe080;

body {
  background-color: $primary-color;
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer {
  padding: 10px 10px 15px 15px;
}

#or {
  width: 120px;
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: lighten($primary-color, 15%);
  font-size: 38px;
  font-family: inherit;
  box-shadow: -5px 5px 5px;
  border-radius: 14px;
  padding: 12px;
  outline: none;
}