doctype html
html(lang='en')
  head
    title Actiongoal
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    // 1. Load Libraries
    // IE required polyfills (from CDN), in this exact order
    script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.16/system-polyfills.js')
    script(src='https://npmcdn.com/angular2/es6/dev/src/testing/shims_for_IE.js')
    
    script(src='https://code.angularjs.org/2.0.0-beta.9/angular2-polyfills.js')
    script(src='https://code.angularjs.org/tools/system.js')
    script(src='https://code.angularjs.org/2.0.0-beta.9/Rx.js')
    script(src='https://code.angularjs.org/2.0.0-beta.9/angular2.dev.js')
    
    script
      include ../public/js/system-init.js
  body