doctype html
html(lang='en')
  head
    title Goaltree
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    style
      include ../public/css/style.css
  body
    #questionMark ?
    script
      include ../public/js/script.js
